body {
  font-family: sans-serif;
}

#body {
  text-align: center;
}

#equationBox {
  font-size: 2.5rem;
  padding-top: 100px;
  padding-bottom: 50px;
}

#inputBox {
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 2px;
  max-width: calc(100% - 6rem);
}

#button {
  font-size: 1.2rem;
  width: 150px;
  height: 40px;
}

.help {
  text-align: left;
  font-size: 0.9rem;
  color: #999;
  position: absolute;
  width: 215px;
}

.help summary {
  margin-bottom: 10px;
}

.shortcuts {
  margin-bottom: 10px;
}

.shortcuts ul {
  padding-left: 15px;
  margin-top: 2px;
}

.operators tr td:first-child {
  padding-right: 10px;
}
