body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

#body {
  text-align: center;
}

#equationBox {
  color: black;
  padding-top: 100px;
  padding-bottom: 50px;
}

#inputBox {
  font-size: 2em;
  margin-bottom: 10px;
  border: 1px solid #ABADB3;
  border-radius: 2px;
}

#button {
  font-size: 1.2em;
  color: #444;
  width: 150px;
  height: 40px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.help {
  text-align: left;
  font-size: 0.9em;
  color: #999;
  position: absolute;
  width: 215px;
}

.help summary {
  margin-bottom: 10px;
}

.shortcuts {
  margin-bottom: 10px;
}

.shortcuts ul {
  padding-left: 15px;
  margin-top: 2px;
}

.operators tr td:first-child {
  padding-right: 10px;
}
