body {
  font-family: sans-serif;
}

#body {
  text-align: center;
}

#equationBox {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

#inputBox {
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 2px;
}

.help {
  text-align: left;
  color: #999;
}

.help summary {
  margin-bottom: 5px;
}

.shortcuts {
  max-width: 49%;
  float: left;
}

.shortcuts ul {
  padding-left: 15px;
  margin-top: 2px;
}

.operators {
  float: right;
}

.operators tr td:first-child {
  padding-right: 5px;
}
